.reviews#reviews
    .container 
        h2.reviews__title.section-title Что обо мне говорят
        .reviews-slider
            .reviews-slider__buttons
                .reviews-slider__btn.reviews-slider__btn_prev
                .reviews-slider__btn.reviews-slider__btn_next
        .reviews-slider__content
            -
                const reviews = [
                    {
                        quote: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
                        author: "Ковальчук Дмитрий",
                        position:"Основатель Loftschool",
                        avatar: "1"
                    },
                    {
                        quote: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
                        author: "Владимир Сабанцев",
                        position: "Преподаватель",
                        avatar: "2"
                    }
                ];

            ul.reviews-slider__items
                each review in reviews
                    li.reviews-slider__item
                        .quote
                            .quote__text
                                p= review[quote]
                            .quote__author
                                .quote__avatar
                                    +image(`content/review-${review[avatar]}.jpg`, 'quote__avatar-pic')
                                .quote__info
                                    .quote__name= review[author]
                                    .quote__occ= review[position]
