section.works#works
    .container
        h2.works__title.section-title Мои работы
        .works__content 
            .works-slider
                .works-slider__pic-wrap(data-slide="2")
                    .works-slider__pic
                        +image('works/1.jpg', 'works-slider__fullpic')
                ul.works-slider__thumbs
                    - for (var i = 1; i < 5; i++)
                        li.works-slider__item
                            a(href="").works-slider__link
                                +image(`works/${i}.jpg`, 'works-slider__img')
                .works-slider__buttons
                    a(href="#").works-slider__btn.works-slider__btn_next
                    a(href="#").works-slider__btn.works-slider__btn_prev

            .works-data
                ul.works-data__tags
                    - var tags = ['HTML', 'CSS', 'JavaScript'];
                        each item in tags
                            li.works-data__item 
                                span.tag #{item}

                .works-data__subtitle Сайт школы образования
                .works-data__text
                    p Этот парень проходил обучение #[br]веб-разработке не где-то, а в LoftSchool! 2&nbsp;месяца только самых тяжелых испытаний и бессонных ночей!
                .view-site
                    +icon('link', 'view-site__icon')
                    a(href="#").view-site__link Посмотреть сайт