extends ./main.layout.pug

block title
    title Portfolio | main page

block content
    .welcome-section

        include ./sections/hero.pug
        include ./sections/about.pug

    include ./sections/works.pug

        