extends ./main.layout.pug

block title
    title Portfolio | main page

block content
    .welcome-section#main

        include ./sections/hero.pug
        include ./sections/about.pug

    include ./sections/skills.pug
    include ./sections/works.pug
    include ./sections/reviews.pug

        